 canvas{
  width: 113.5%;
  height: 113.5%;
  margin: 0;
  padding: 0;
}
form {
 position: absolute;
 top: 15px;
 left: -100px;
}
input{
  background: transparent;
  color: white;
  border-color: transparent;
  border: none;
  outline: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Donate{
  color:gray;
  position: absolute;
  bottom: 550px;
  left: 400px;
  font-family:'Space';
}
@font-face {
  font-family: 'Space';
  src: local('Space'), url(./fonts/SpaceGome-1jPKg.ttf) format('truetype');
}
.Planet-list{
  margin: 50px;
  font-family: 'Space';
  color: red;
  position: absolute;
  bottom:300px;
  right: 600px;
  height: 5%;
  width: 100%;
  z-index: 5;
}


